.watches-wrap {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-self: end;
    align-items: end;
    margin-top: 20px;
}

.watches-input {
    height: 40px;
    padding: 0 10px;
}

.watches-button {
    border: 1px solid red;
}

.clock-title {
    margin-bottom: 10px;
    max-width: 100px;
    text-align: center;
    line-height: 1;
}

.clock-cross {
    display: inline-block;
    position: absolute;
    top: 0;
    right: -20px;
    width: 25px;
    height: 25px;
    padding-top: 0;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.clock {
    position: relative;
    padding: 5px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
  }
  
  .dot {
    position: absolute;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
  }
  
  .hour,
  .minute,
  .second {
    position: absolute;
    left: calc(50% - 1px);
    width: 0;
    transform-origin: bottom;
  }
  
  .hour {
    top: 20px;
    height: 30px;  
    border: 1px solid black;
  }
  
  .minute {  
    height: 45px;  
    border: 1px solid black;
  }
  
  .second {
    height: 45px;  
    border: 1px dashed red;
  }